.img-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.no-page-container h3{
    text-align: center;
}
@keyframes light {

    33%{margin-left: 500px;}
    66%{margin-right: 400px;}
    99%{margin-left: 0px;}
}
.no-page-container img{
    animation: light 3s linear;
    border-radius: 20px;
    
}