/* .form-container{
    width: 99.50%;
    text-align: center;

    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    
    border-style: solid;
}
.name{
    display: inline;
    position: relative;
    margin: 0;
}
.sub-btn{
    
} */